/* ==========================================================================
   NOTICE TEXT BLOCKS
   ========================================================================== */

@mixin notice($notice-color) {
  margin: 2em 0 !important;  /* override*/
  padding: 1em;
  font-family: $global-font-family;
  font-size: $type-size-6 !important;
  text-indent: initial; /* override*/
  background-color: rgba($notice-color, 0.15);
  border-radius: $border-radius;
  box-shadow: none;
  border-left: 4px solid $notice-color;

  h4 {
    margin-top: 0 !important; /* override*/
    margin-bottom: 0.75em;
    color: $dark-text;
  }

  @at-root .page__content #{&} h4 {
    margin-bottom: 0;
    font-size: 1em;
  }

  p {
    &:last-child {
      margin-bottom: 0 !important; /* override*/
    }
  }

  h4 + p {
    margin-top: 0;
    padding-top: 0;
  }

  a {
    color: $notice-color;

    &:hover {
      color: mix($dark-text, $notice-color, 40%);
    }
  }

  code {
    background-color: rgba($notice-color, 0.1);
  }

  ul {
    &:last-child {
      margin-bottom: 0; /* override*/
    }
  }
}

/* Default notice */

.notice {
  @include notice($dark-text-muted);
}

/* Primary notice */

.notice--primary {
  @include notice($primary-color);
}

/* Info notice */

.notice--info {
  @include notice($info-color);
}

/* Warning notice */

.notice--warning {
  @include notice($warning-color);
}

/* Success notice */

.notice--success {
  @include notice($success-color);
}

/* Danger notice */

.notice--danger {
  @include notice($danger-color);
}
